a{
	text-decoration:none;
	color:black;
}

a:hover{
	color:red;
}

#banniere{
	width:100%;
}

body {
	background-attachment: fixed;
	background-image: url('../images/fond.png');
	background-repeat: no-repeat;
}
#chemin{
	text-align:left;
	font-style:italic;
	font-size:14px;
}
.ligne{
	clear:both;
}
.ligne .colone_g{
		display:block;
		float:left;
		width: 60%;
		overflow:auto;
}
.ligne .colone_p{
		display:block;
		float:left;
		width: 10%;
}
.ligne .colone_p .form_prix{
		width:100%;
}
#corps{
	border:ridge;
	text-align:center;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	width:70%;
	min-width:700px;
	background-image:url('../images/transparent.PNG');
}

.description{
	text-align:justify;
	font-style:italic;
}

#foot{
	border:ridge;
	background-image:url('../images/transparent.PNG');
	text-align:center;
	font-style:italic;
	width:70%;
	min-width:700px;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
}

#head{
	border:ridge;
	text-align:center;
	width:70%;
	height:auto;
	min-width:700px;
	margin-left:auto;
	margin-right:auto;
}

#list{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
}

#login{
	
	text-align:center;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	width:70%;
	min-width:700px;
	border:ridge;
	background-image:url('../images/transparent.PNG');
	text-align:center;	
}



#menu{
	border:ridge;
	background-image:url('../images/transparent.PNG');
	text-align:center;
	width:70%;
	height:20px;
	min-width:700px;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
}
.nouveau{
	border:dashed;
	border-color:red;
	margin-bottom:20px;
}
.souligne{
	text-decoration:underline;
}
#table_prix{
	margin-left:auto;
	margin-right:auto;
	width:600px;
	text-align:center;
}

#ttable_prix{
	margin-left:auto;
	margin-left:auto;
	width:100%;
}

#tableRecherche{
	border:outset;
	margin-top:20px;
	margin-right:auto;
	margin-left:auto;
	text-align:left;
}

.texte{
	text-align:justify;
}

.titreP{
	font-weight:bold;
	font-size:22px;
}

#tlogin{
	margin-right:auto;
	margin-left:auto;
}

#trlist{
	text-align:left;
}

.tdlist{
	border:outset;
}


.tdtable_prix{
	border:outset;
}
