a{
	text-decoration:none;
	color:black;
}

body {
	background-attachment: fixed;
	background-image: url('../images/fond.jpg');
	background-repeat: no-repeat;
}

#corps{
	border:ridge;
	text-align:center;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	width:60%;
	min-width:700px;
	background-image:url('../images/transparent.PNG');
	display:table;	
}

#description{
	text-align:justify;
	font-style:italic;
}

#foot{
	border:ridge;
	background-image:url('../images/transparent.PNG');
	text-align:center;
	font-style:italic;
	width:60%;
	min-width:700px;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
}

#head{
	border:ridge;
	background-image:url('../images/banniere.png');
	text-align:center;
	width:60%;
	min-width:700px;
	height:100px;
	margin-left:auto;
	margin-right:auto;
}

#list{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
}

#login{
	
	margin-top:-105px;
	margin-left:10px;
	width:15%;
	min-width:205px;
	height:100px;
	border:ridge;
	background-image:url('../images/transparent.PNG');
	text-align:center;	
}



#menu{
	border:ridge;
	background-image:url('../images/transparent.PNG');
	text-align:center;
	width:60%;
	min-width:700px;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
}

#tableRecherche{
	border:outset;
	margin-top:20px;
	margin-right:auto;
	margin-left:auto;
	text-align:left;
}

#titreP{
	font-weight:bold;
}


#trlist{
	text-align:left;
}

#tdlist{
	border:outset;
}

#table_prix{
	margin-left:auto;
	margin-right:auto;
	width:600px;
	text-align:center;
}

#tdtable_prix{
	border:outset;
}
